{% extends 'main.html' %}
{% block title %}
Enregistrement des cours
{% endblock %}
{% block content %}
<br><br><br><br><br><br><br><br><br><br><br><br>
 <div class="dar"><h1>Formulaire de saisie des nouveaux cours</h1></div><br><div class="rad">
        <br>
        {% if id is not None %}
                <form method="post" action="/absence/updatetraitementcours/{{id}}/">
        {% else %}
                <form method="post" action="/absence/traitementcours/">
        {% endif %}
        {% csrf_token %}
        {{form.as_p}}
        <br>
        <input type="submit" value="Soumettre">
        </form> </div>
<footer>
    <h3>Saisie d'un nouveau cours</h3>
</footer>
{% endblock %}