{% extends 'main.html' %}
{% block title %}
Enregistrement des absences étudiantes
{% endblock %}
{% block content %}
<br><br><br><br><br><br><br><br><br><br><br><br><br>
 <div class="dar"><h1>Procédure d'enregistrement des absences</h1></div><br><div class="rad">
         {% if id is not None %}
            <form method="POST" action="/absence/updatetraitement/{{id}}/" enctype="multipart/form-data"/>
         {% else %}
            <form method="POST" action="/absence/traitement/">
        {% endif %}
        {% csrf_token %}
        {{form.as_p}}
        <br>
        <input type="submit" value="Soumettre">
        </form></div>
<footer>
    <h3>Assurez-vous de fournir les documents sous forme d'images au format JPG, PNG, JPEG.</h3>
</footer>
{% endblock %}